body {
    padding-top: 0px;
    overflow: hidden;
}

   #header {
    background-color:black;
    opacity: 0.65;
    color:white;
    font-family: "Century gothic", century, sans-serif;
    text-align:left;
    width: 100%;
    padding: 10px;
  }

#LeftNavBar {
    line-height:30px;
    opacity: 0.45;
    color:white; 
    font-family: "Century gothic", century, sans-serif;
    background-color:black;
    height:100%;
    width:25%;
    float:left;
    padding:0%; 
    }

#vitruta {
    line-height:30px;
    background-color:white; opacity: 0.75; 
    color:black;
    font-family: "Century gothic", century, sans-serif;
    width:75%;
    float:right;
    padding:15px; 
    height: 5%;   
    }

#dishesview{
    float:left;
    padding:15px; 
    }

